<h1>Endpoints</h1>

<%= form_for @changeset, Routes.page_path(@conn, :create), fn f -> %>
  <p>Monitor a new endpoint</p>
  <label>
    Name: <%= text_input f, :name %>
    URL: <%= text_input f, :url %>
  </label>

  <%= submit "Submit" %>
<% end %>

<%= for endpoint <- @endpoints do %>
  <h3><%= endpoint.name %></h3>
  <%= link to: endpoint.url, target: "_blank", rel: "noopener noreferrer" do %>
    <p><%= endpoint.url %></p>
  <% end %>
  <hr>
<% end %>
